<h1>ヘルプ</h1>
<h2>使用方法</h2>

<ol>
  <li><strong>テキスト</strong>のテキストボックスに解析したい内容を入力してください。
  </li>
  <li><strong>解析方法を選択 </strong>のドロップダウンで解析方法を選択してください。次の３パターンで解析できます。
  </li>
  <ul>
    <li>PLAIN: 入力されたテキストをそのまま解析します。</li>
    <li>Markup: 入力されたテキストのタグ内の文字列を解析します。</li>
    <li>URL: 入力されたURLのHTMLを取得し、そのタグ内の文字列を解析します。</li>
  </ul>
  <li>
    <strong>解析</strong>ボタンを押すと、解析を実行します。
  </li>
</ol>
